<div class="card lg:card-side bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">{{title}}</h2>
      

      <div class="overflow-x-auto">
        <table *ngIf="list.length" class="table table-zebra w-full">
          <!-- head -->
          <thead>
            <tr>
              <th *ngFor="let header of headers">{{header}}</th>
            </tr>
          </thead>
          <tbody>
            <!-- row  -->
            <tr *ngFor="let item of list">
              <td>{{item.symbol}}</td>
              <td>{{item.oneDayPriceChange}} %</td>
              <td>{{item.oneDayOiChange}} %</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!list.length && isLoading">
          Loading...
        </div>
      </div>
    </div>
  </div>

