<section class="m-3 py-3">
    <div class="card mb-3 lg:card-side bg-base-100 shadow-sm">
        <div class="card-body">
            <select class="select select-bordered mr-3 max-w-xs"  (ngModelChange)="onStockChange($event)" [(ngModel)]="currentStock">
                <option value="null" disabled selected>Select Stock</option>
                <option [ngValue]="item" *ngFor="let item of stockList">{{item}}</option>
              </select>
    

        </div>
      </div>
    
    
    <app-table [title]="'Index'" [isLoading]="isLoading" [list]="oiStockList"></app-table>
</section>