<div class="my-2">
  <p-card header={{title}}>

  <ng-container *ngIf="!isLoading;else loader">
    <p-table *ngIf="list.length"  [columns]="columns" [value]="list" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                  {{ col.label }}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
              <td *ngFor="let col of columns">
                <span *ngIf="col.dataType === 'date'">
                  {{ rowData[col.field] | date }}
                </span>
                <span *ngIf="col.dataType !== 'date'">
                  {{ rowData[col.field] }}
                </span>
              </td>
          </tr>
      </ng-template>
  </p-table>
  </ng-container>

  <div *ngIf="!list.length && !isLoading">No data found !</div>
   <ng-template #loader>
      <p-skeleton height="2rem" styleClass="mb-4" />
      <p-skeleton height="2rem" styleClass="mb-4" />
  </ng-template>
  </p-card>


  
</div>


